@page
@model ConfirmEmailInfoAfterRegisterationModel
@{
}

<h3>
    Please confirm your email before you log on.
    The Email Confirmation link has been send to your email account.

    Registration successful.
    Before you can Login, please confirm your email, by clicking on the confirmation link 
    we have emailed you.

</h3>

Demo: Please confirm your email by <a href='@Model.EmailConfirmationToken'>clicking here</a>.