@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    @*ConfirmEmailConfirmation*@
    <p>
        Thank you for confirming your email.
        <a asp-page="./Login">Login to your account.</a>
    </p>
</div>
