@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

@*
    WE COME TO THIS VIEW WHEN LOGIN THE SYSTEM USRING 3 OPTIONS
    1. USERNAME PASSWORD LOGIN
    2. LOGIN WITH 2FA
    3. LOING WITH RECOVERY CODES

    Names for this page.
        AccountLockoutConfirmation.cshtml
        LockoutConfirmation.cshtml

*@

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Your account has been locked out, please try again after sometime, or you may
        <a asp-page="./ForgotPassword">
            reset your password by clicking here
        </a>
    </p>
</header>
