@page
@model EditModel5

@{
    ViewData["Title"] = "Edit Role";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Input.Id" />

            <div class="form-group col-md-5">
                <label asp-for="Input.Name" class="control-label font-weight-bold "></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-5">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>


            <div class="col-md-5">

                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Users in Role</th>
                        </tr>
                    </thead>

                    @if (Model.Input.SelectedUserList.Count <= 0)
                    {
                        <tr>
                            <td>
                                No User found in system.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Input.SelectedUserList)
                        {
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

        </form>


        <div class="form-group col-md-5">          
            <a asp-page="./AddUsersToRole" asp-route-id="@Model.Input.Id" class="btn btn-primary" >Add/Remove Users</a>
        </div>


    </div>

</div>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
