@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Buttons_As_CheckboxModel
@{
}

Buttons_As_Checkbox

<div class="bs-example">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">


        <label class="btn btn-primary active">
            <input type="checkbox" name="options" autocomplete="off" checked> Option A
        </label>


        <label class="btn btn-primary">
            <input type="checkbox" name="options" autocomplete="off"> Option B
        </label>

        
        <label class="btn btn-primary active">
            <input type="checkbox" name="options" autocomplete="off" checked> Option C
        </label>


    </div>

</div>