@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Button_GroupModel
@{
}

@*Button Groups
    Bootstrap 4 allows you to group a series of buttons together (on a single line)
    in a button group:*@

<div class="btn-group">

    <button type="button" class="btn btn-success">Apple</button>
    <button type="button" class="btn btn-danger">Samsung</button>
    <button type="button" class="btn btn-primary">Sony</button>

</div>


<div class="container">

    <br /><br />Large Buttons <br />
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-info">Apple</button>
        <button type="button" class="btn btn-warning">Samsung</button>
        <button type="button" class="btn btn-primary">Sony</button>
    </div>

    <br /><br />Normal Buttons <br />
    <div class="btn-group">
        <button type="button" class="btn btn-danger">Apple</button>
        <button type="button" class="btn btn-dark">Samsung</button>
        <button type="button" class="btn btn-primary">Sony</button>
    </div>

    <br /><br />Small buttons <br />
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark">Apple</button>
        <button type="button" class="btn btn-secondary">Samsung</button>
        <button type="button" class="btn btn-primary">Sony</button>
    </div>

</div>




<div class="container">

    <br /><br />Large Buttons <br />
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-outline-info">Apple</button>
        <button type="button" class="btn btn-outline-warning">Samsung</button>
        <button type="button" class="btn btn-outline-primary">Sony</button>
    </div>

    <br /><br />Normal Buttons <br />
    <div class="btn-group">
        <button type="button" class="btn btn-outline-danger">Apple</button>
        <button type="button" class="btn btn-outline-dark">Samsung</button>
        <button type="button" class="btn btn-outline-primary">Sony</button>
    </div>

    <br /><br />Small buttons <br />
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-dark">Apple</button>
        <button type="button" class="btn btn-outline-secondary">Samsung</button>
        <button type="button" class="btn btn-outline-primary">Sony</button>
    </div>

</div>

