@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Buttons_As_Radio_ButtonsModel
@{
}


Buttons_As_Radio_Buttons

<div class="bs-example">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">

        <label class="btn btn-primary">
            <input type="radio" name="options" autocomplete="off"> Option A
        </label>

        <label class="btn btn-primary active">
            <input type="radio" name="options" autocomplete="off" checked> Option B
        </label>

        <label class="btn btn-primary">
            <input type="radio" name="options" autocomplete="off"> Option C
        </label>

    </div>

</div>