@page
@model CardsModel

@{
    ViewData["Title"] = "Cards Demo";
}

<h1>@ViewData["Title"]</h1>

<div>

    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-primary">Primary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-warning">Warning Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-success">Success Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-danger">Danger Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-secondary">Secondary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-info">Info Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-light">Light Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-dark">Dark Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white bg-primary">

                <div class="card-header">Primary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-warning">

                <div class="card-header">Warning Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-success">

                <div class="card-header">Success Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-danger">

                <div class="card-header">Danger Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white bg-secondary">

                <div class="card-header">Secondary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white  bg-info">

                <div class="card-header">Info Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-light">

                <div class="card-header">Light Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-dark">

                <div class="card-header">Dark Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card border-primary">

                <div class="card-body text-primary">

                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-warning">

                <div class="card-body text-warning">

                    <h5 class="card-title">Warning card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-success">

                <div class="card-body text-success">

                    <h5 class="card-title">Success card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-danger">

                <div class="card-body text-danger">

                    <h5 class="card-title">Danger card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>
            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card border-secondary">

                <div class="card-body text-secondary">

                    <h5 class="card-title">Secondary card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-info">

                <div class="card-body text-info">

                    <h5 class="card-title">Info card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-light">

                <div class="card-body text-muted">

                    <h5 class="card-title">Light card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-dark">

                <div class="card-body text-dark">

                    <h5 class="card-title">Dark card title</h5>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-warning">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Header</div>
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Someuuu quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>


    </div>


</div>