@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Grid_LargeModel
@{
}

@*
    25%/75% means col 3 and col 9
    50%/50% means col6 and col 6
    33%/66% means  col 4 and col 8
    20%/80% means  col 2, col 10

    Following Sequacen matters
    Extra Small     ==> Small   ==> Medium      ==> Large       ==> Extra Large
    xx                   sm           md             lg                 xl
    <576px	        >=576px	       >=768px	      >=992px	         >=1200px

    Class is applied to that category and all above categories
    Class is not applied to all below categories
    All below categories are vertically stacked with Width 100%
    If Class is not specified, then it is for Extra Small and above, means all devices
    If Column Size is not specified, then all columns are given equal size
    More than one Classes can be specified.

    Class prefix	.col-lg-
    Screen width	>=992px
    Large devices are defined as having a screen width from 992 pixels to 1199 pixels.
    at the small size, look at classes with -sm-
    At the medium size, look at classes with -md-
    At the large size, look at classes with the word -lg-
    On extra small devices, it will vertically stacked with width 100%*@


One

<div class="container">

    <div class="row">

        <div class="col-sm-3 col-md-6 col-lg-4 bg-success">
            <p>Lorem ipsum...</p>
        </div>

        <div class="col-sm-9 col-md-6 col-lg-8 bg-warning">
            <p>Sed ut perspiciatis...</p>
        </div>

    </div>




    @*Using Only Large
        only specify the .col-lg-6 class
        This means that large and xlarge devices will split 50%/50%.
        However, for medium, small AND extra small devices,
        it will stack vertically (100% width):*@

    <br />
    Two


    <div class="row">

        <div class="col-lg-6 bg-success">
            <p>Lorem ipsum...</p>
        </div>

        <div class="col-lg-6 bg-warning">
            <p>Sed ut perspiciatis...</p>
        </div>

    </div>



    @*
        equal width columns for all devices all screen sizes, having width greater or eq than 992px
        except for extra small, small & medium devices/screen size
        for above devices,
        the columns will be stacked vertically with width 100%:

        the columns will remain stack horizontally for all
        large n greater than large devices

        remove number from .col-lg-* and
        each column will get the same width in row

        if the screen size is less than 992px,
        the columns will be stacked vertically with width 100%:
    *@


    <br />
    Three

    <!-- Two columns: 50% width on large and up-->

    <div class="row">

        <div class="col-lg bg-success">1 of 2</div>

        <div class="col-lg bg-warning">2 of 2</div>

    </div>



    <br />
    Four

    <!-- Four columns: 25% width on large and up -->

    <div class="row">

        <div class="col-lg bg-success">1 of 4</div>

        <div class="col-lg bg-warning">2 of 4</div>

        <div class="col-lg bg-success">3 of 4</div>

        <div class="col-lg bg-warning">4 of 4</div>

    </div>

</div>