@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Grid_MediumModel
@{
}


@*
    25%/75% means col 3 and col 9
    50%/50% means col6 and col 6
    33%/66% means  col 4 and col 8
    20%/80% means  col 2, col 10

    Following Sequacen matters
    Extra Small     ==> Small   ==> Medium      ==> Large       ==> Extra Large
    xx                   sm           md             lg                 xl
    <576px	        >=576px	       >=768px	      >=992px	         >=1200px

    Class is applied to that category and all above categories
    Class is not applied to all below categories
    All below categories are vertically stacked with Width 100%
    If Class is not specified, then it is for Extra Small and above, means all devices
    If Column Size is not specified, then all columns are given equal size
    More than one Classes can be specified.

    Class prefix	.col-md-
    Screen width	>=768px
    Medium devices having a screen width from 768 pixels to 991 pixels.
    At the small size, look at classes with -sm-
    At the medium size, look at classes with -md- in them
    following example 25%/75% split on small devices and
    a 50%/50% split on medium (and large and xlarge) devices.
    extra small devices, it will vertically stack with width 100%
*@

<div class="container">

    One
    <div class="row">

        <div class="col-sm-3 col-md-6 bg-success">
            <p>Lorem ipsum...</p>
        </div>

        <div class="col-sm-9 col-md-6 bg-warning">
            <p>Sed ut perspiciatis...</p>
        </div>

    </div>




    @*
        we only specify the .col-md-6 class
        This means that medium, large and extra large devices will split 50%/50% -
        because the class scales up.
        However, for small and extra small devices,
        it will stack vertically with width 100% width
    *@

    <br />
    Two
    <div class="row">

        <div class="col-md-6 bg-success">
            <p>Lorem ipsum...</p>
        </div>

        <div class="col-md-6 bg-warning">
            <p>Sed ut perspiciatis...</p>
        </div>

    </div>


    @*
        equal width columns for all devices all screen sizes,
         except for extra small & small devices/screen size

         the columns will remain stack horizontally for all med n greater than med devices
          remove number from .col-md-* and
          each column will get the same width in row

         if the screen size is less than 768px,
         the columns will be stacked vertically with width 100%:
    *@


    <!-- Two columns: 50% width on medium and up-->

    <br />
    Three
    <div class="row">

        <div class="col-md bg-success">1 of 2</div>

        <div class="col-md bg-warning">2 of 2</div>

    </div>




    <!-- Four columns: 25% width on medium and up -->
    <br />
    Four
    <div class="row">

        <div class="col-md bg-success">1 of 4</div>

        <div class="col-md bg-warning">2 of 4</div>

        <div class="col-md bg-success">3 of 4</div>

        <div class="col-md bg-warning">4 of 4</div>

    </div>

</div>