@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Utility_WidthModel
@{
}

Set the width of an element with the w-* classes (.w-25, .w-50, .w-75, .w-100, .mw-100):


<div class="container">

    <h1>Width Utilities</h1>

    <p>Set the width of an element with the w-* classes:</p>

    <div class="w-25 bg-warning">Width 25%</div>

    <div class="w-50 bg-warning">Width 50%</div>

    <div class="w-75 bg-warning">Width 75%</div>

    <div class="w-100 bg-warning">Width 100%</div>

    <div class="mw-100 bg-warning">Max Width 100%</div>

</div>