@page
@model AppTemplateCore.Areas.Bootstrap.Pages.Utility_BorderModel
@{
}

Bootstrap 4 has a lot of utility/helper classes to quickly style elements
without using any CSS code.

Use the border classes to add or remove borders from an element:

<style>
    .border {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 6px;
    }
</style>



<div class="container">
    <h2>Borders</h2>
    <p>Use the border classes to add or remove borders from an element:</p>
    <span class="border"></span>
    <span class="border border-0"></span>
    <span class="border border-top-0"></span>
    <span class="border border-right-0"></span>
    <span class="border border-bottom-0"></span>
    <span class="border border-left-0"></span>
</div>

Add a color to the border with any of the contextual border color classes:

<div class="container">

    <h2>Borders</h2>

    <p>Use a contextual border color to add a color to the border:</p>
    <span class="border border-primary"></span>
    <span class="border border-secondary"></span>
    <span class="border border-success"></span>
    <span class="border border-danger"></span>
    <span class="border border-warning"></span>
    <span class="border border-info"></span>
    <span class="border border-light"></span>
    <span class="border border-dark"></span>
    <span class="border border-white"></span>

</div>

Add rounded corners to an element with the rounded classes:

<style>
    span {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 6px;
        background-color: #555;
    }
</style>


<div class="container">

    <h2>Borders</h2>

    <p>Round the corner of an element with the rounded classes:</p>

    <span class="rounded-sm"></span>
    <span class="rounded"></span>
    <span class="rounded-lg"></span>
    <span class="rounded-top"></span>
    <span class="rounded-right"></span>
    <span class="rounded-bottom"></span>
    <span class="rounded-left"></span>
    <span class="rounded-circle"></span>
    <span class="rounded-0"></span>
</div>