@{
    ViewData["Title"] = "Home Page";
}


<div>

    <div class="row">

        <div class="text-center col-md-12">

            <h1 class="display-4">Website Administration Module</h1>
            <p>Managing Users, Roles & Claims of Web Application.</p>

        </div>

    </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-primary">Role Management</div>

                <div class="card-body">

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Roles/Index">Roles List</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Roles/Create">Create Role</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Authorization/RoleBasedAuthorization">Role Based Authorization</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Authorization/ClaimsBasedAuthorization">Claims Based Authorization</a>
                    </div>


                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-warning">User Management</div>

                <div class="card-body">

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Users/Index">Users List</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Users/Create">Create User</a>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-success">Success Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-danger">Danger Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-secondary">Secondary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-info">Info Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-light">Light Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-dark">Dark Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>

