@{
    ViewData["Title"] = "Home Page";
}


<div>

    <div class="row">

        <div class="text-center col-md-12">

            <h1 class="display-4">Website Administration Module</h1>
            <p>Managing Users, Roles & Claims of Web Application.</p>

        </div>

    </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-primary">Role Management</div>

                <div class="card-body">

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Roles/Index">Roles List</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Roles/Create">Create Role</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Authorization/RoleBasedAuthorization">Role Based Authorization</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Authorization/ClaimsBasedAuthorization">Claims Based Authorization</a>
                    </div>


                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-warning">User Management</div>

                <div class="card-body">

                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Users/Index">Users List</a>
                    </div>
                    <div>
                        <a class="btn-link" asp-area="AccessControl" asp-page="/Users/Create">Create User</a>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-success">Bootstrap Demo</div>

                <div class="card-body">

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Cards">Bootsrap Cards</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Form_Stacked">Form Stacked</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Form_Inline">Form Inline</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Form_Grid">Form Grid</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Form_Validation">Form Validation</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Form_Validation2">Form Validation</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Example">Grid Example One</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Extra_Small">Grid_Extra_Small</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Extra_Large">Grid_Extra_Large</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Large">Grid_Large</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Medium">Grid_Medium</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Grid_Small">Grid_Small</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Alert">Alert</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Container">Container</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Buttons">Buttons</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Button_Group">Button Group</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Accordian">Accordian</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Buttons_As_Radio_Buttons">Buttons As Radio Buttons</a>
                    </div>

                    <div>
                        <a class="btn-link" asp-area="Bootstrap" asp-page="/Buttons_As_Checkbox">Buttons As Checkbox Buttons</a>
                    </div>

                    


                </div>


            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-danger">Danger Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>


    <div class="row">


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-secondary">Secondary Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-info">Info Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-light">Light Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-white">

                <div class="card-header bg-dark">Dark Card</div>

                <div class="card-body">

                </div>

            </div>

        </div>


    </div>


    <div class="mt-5"> </div>

    </div>